.text{
    position: absolute;
    left: 30%;
    font-size: 35px;
}

.text-botoom{
    position: absolute;
    bottom: 10%;
    left: 30%;
    font-size: 35px;
}


.btn {
    position: relative;
    left: 120px;
    height: 40px;
    width: 100px;
    margin-top: 20px ;
    margin-bottom: 20px ;
    border-radius: 20%;
    background-color: grey;
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}


.img{
    width: 350px;
}